<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>bolong</string>
		<string>lanlong</string>
		<string>youlong</string>
		<string>aolong</string>
		<string>nanfeilong</string>
		<string>meiguilong</string>
		<string>pipalong</string>
	</array>
</array>
</plist>
